<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% extends 'shared/_Main_page.html' %}
{% load static %}

{% block title %}جزیئات فیلم{% endblock %}

{% block content %}


    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                {% if movie.cover %}
                                    <img src="{{ movie.cover.url }}" alt=""
                                         style="border-color:#42075b;border-width: 5px;">
                                {% else %}
                                    <img src="{% static 'images/product-details/1.jpg' %}"
                                         alt="" style="border-color:#42075b;border-width: 5px;>
                                {% endif %}
                            </div>
                        </div>
                        <div class=" col-sm-7">
                                <div class="product-information"><!--/product-information-->
                                    <img src="{% static 'images/product-details/new.png' %}" class="newarrival" alt="">
                                    <div>
									<span>
										<span>فیلم {{ movie.name }} </span>
									</span>

                                        <br><br>

                                    </div>
                                    <br>
                                    <div><br><br>
                                        <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>نام فیلم
                                            :{{ movie.name }}</b></p>
                                        <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>ژانر
                                            : {{ movie.genre }}</b>
                                        </p>
                                        {% if movie.director %}
                                            <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>کارگردان
                                                : {{ movie.director }}</b><a href=""></a>
                                            </p>
                                        {% endif %}
                                        {% if movie.rating %}
                                            <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>امتیاز
                                                : {{ movie.rating }}</b><a href=""></a>
                                            </p>
                                        {% endif %}
                                        {% if movie.movie_language %}
                                            <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>زبان
                                                فیلم
                                                : {{ movie.movie_language }}</b><a href=""></a>
                                            </p>
                                        {% endif %}
                                        {% if movie.movie_type %}
                                            <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>نوع
                                                فیلم
                                                : {{ movie.movie_type }}</b><a href=""></a>
                                            </p>
                                        {% endif %}
                                        {% if movie.actors %}
                                            <p style="text-align: justify; line-height: 30px;font-size: 15px"><b>بازیگران
                                                :{{ movie.actors }} </b><a href=""></a>
                                            </p>
                                        {% endif %}
                                        <p style="text-align: justify; line-height: 30px;font-size: 15px; color: red">
                                            <b>خلاصه
                                                داستان
                                                : {{ movie.description }}</b><a href=""></a>
                                        </p>
                                    </div>
                                    <br>

                                </div><!--/product-information-->
                            </div>
                        </div><!--/product-details-->

                        <div class="category-tab shop-details-tab"><!--category-tab-->

                            <div class="col-sm-12">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#reviews" data-toggle="tab">نظرات
                                        ({{ comments|length }})</a></li>
                                </ul>
                                <div class='col-md-12'>
                                    <div class='col-md-6 col-md-offset-3'>


                                        <header>
                                            <h3 style="text-align: center"><b>دیدگاه خود را به اشتراک بگذارید </b></h3>
                                        </header>
                                        {% if user.is_authenticated %}
                                            <div style="text-align: center;">
                                                <div class="container">
                                                    {% include 'components/create_modal.html' with movie=movie %}
                                                </div>
                                                <br>
                                            </div>
                                        {% else %}
                                            <div style="text-align: center">
                                                <a style="color: rgb(255, 153, 0); font-size: 16px;"
                                                   href="/accounts/login?next={{ request.path }}"><span
                                                        style="color: rgb(15, 49, 49);">برای به اشتراک گذاری دیدگاه خود به حساب کاربـری</span><span><b> وارد</b></span><span
                                                        style="color: rgb(15, 49, 49);"> شوید </span></a>
                                            </div>
                                        {% endif %}
                                        {% include 'components/comment_list.html' with comments=comments %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
