{% extends 'shared/_Main_page.html' %}

{% block content %}
    {% if validlink %}
        <div class="login-form">
            <div class="col-lg-8 col-md-offset-2">
                <form method="POST">
                    {% csrf_token %}
                    <label for="{{ form.new_password1.id_for_label }}">رمز جدید</label>
                    {{ form.new_password1 }}
                    {% for error in form.new_password1.errors %}
                        <p style="color: red;"> {{ error }} </p>
                    {% endfor %}
                    <label for="{{ form.new_password2.id_for_label }}">تکرار رمز جدید</label>
                    {{ form.new_password2 }}
                    {% for error in form.new_password2.errors %}
                        <p style="color: red;"> {{ error }} </p>
                    {% endfor %}

                    <button type="submit" class="btn btn-default">بازیابی</button>
                </form>
            </div>
            <br><br><br><br>
            <br><br><br><br>
            <br><br><br><br>
        </div>
        <br><br><br><br>
    {% else %}
        <h3>این لینک معتبر نیست لطفا مجددا تلاش کنید</h3>
    {% endif %}
{% endblock %}