{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Main Page" %}</title>
</head>
<body>


<h1 style="text-align: center;margin-top: 150px;font-family: IRMehr;font-size: 50px">
    {% trans "Welcome To Top Movies Website" %}
</h1>

<h4 style="text-align: center">
    <a href="/fa" style="text-decoration: none;">
        فارسی
    </a>
</h4>
<h4 style="text-align: center; text-decoration: none;">
    <a href="/" style="text-decoration: none;">
        English
    </a>
</h4>

</body>
</html>