<script>
    $(document).ready(function () {
        $('#delete{{ comment_id }}').click(function () {
            $.ajax({
                url: "{% url 'comments:comments-api:comment_retrieve_update_destroy' comment_id %}",
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}",
                },
                type: "delete",
                dataType: "json",
                success: function (data) {
                    $('#delete_modal_success').modal('show');
                    $('#close_button_delete{{ comment_id }}').click(function () {
                        location.reload();
                    })
                },
                error: function (xhr) {
                    $('#delete_Modal_error').modal('show');
                }
            });
        })
    });
</script>