{% load static %}
<div class="col-sm-4 pull-right">
    <div class="product-image-wrapper">
        <div class="single-products">
            <a href="{% url 'movies:movie_detail' movie.genre.slug movie.slug %}">
                <div class="productinfo text-center">
                    {% if movie.cover %}
                        <img src="{{ movie.cover.url }}" width="200px" height="300px" alt="">
                    {% else %}
                        <img src="{% static 'images/product-details/1.jpg' %}" width="200" height="200" alt="">
                    {% endif %}
                    <a href="{{ gig.get_absolute_url }}" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                </div>
            </a>

        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ gig.get_absolute_url }}"><i class="fa fa-plus-square"></i>مشاهده جزئیات</a></li>
            </ul>
        </div>
    </div>
</div>